body{
    background-image: url("images/tree.jpg");
    background-repeat: repeat-x;
    background-attachment: fixed;
    
}
             p
             {
                 color:yellow;
                 background-color:tomato;

             border:4px  solid chartreuse;
                 
             }
        h1
        {
color:orange;

border: dotted 10px solid green;

        }

